---
layout: page
title: Fornecedores
permalink: /fornecedores/
---

    <!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>Fornecedores</h1>
                    <p>Caso você precise de algum auxílio para utilizar o Redmine, pode entrar em contato com um dos especialistas do nosso grupo:</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolio-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="portfolio-menu">
                {% include fornecedores_tags.html %}
              </div>
              <div class="portfolio-contant">
                <ul id="portfolio-contant-active">
                  {% for fornecedor in site.data.fornecedores %}
                    <li class="mix {{ fornecedor.tags | join: ' '  }}">
                        <a href="{{ fornecedor.url }}">
                          <img src="{{ fornecedor.image }}" alt="">
                          <div class="overly">
                            <div class="position-center">
                              <h2>{{ fornecedor.name }}</h2>
                              <em>{{ fornecedor.cidade }}</en>
                              <p>
                                {% if fornecedor.tags %} 
                                    {% for tag in fornecedor.tags %}
                                    <span class="label tags tag-filter" data-tag="{{ tag | downcase }}">{{ tag }}</span>
                                    {% endfor %}
                                {% endif %}
                              </p>
                            </div>
                          </div>
                        </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>


<!-- Call to action Start -->

<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Também oferece serviços envolvendo o Redmine?</h2>
          <p>Adicione as suas informações através do nosso Github</p>
          <a class="btn btn-default btn-call-to-action" href="https://github.com/RedmineBR/RedmineBR.github.io">Github Redmine Brasil</a>
        </div>
      </div>
    </div>
  </div>
</section>
