<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Início</a></li>
            <li><a href="{{ site.baseurl }}/fornecedores">Fornecedores</a></li>
            <li><a href="{{ site.baseurl }}/novidades">Notícias</a></li>
            <li><a href="{{ site.baseurl }}/redconf">RedConf</a></li>
          </ul>
        </div>
        <p><a href="https://patrickkaminski.com">Patrick Kaminski</a></p>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
